body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    text-align: inline;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
}

h1 {
    color:cornflowerblue;
    margin-bottom: 10px;
    font-size: 2.5em;
}

.container {
    max-width: 1140px;
}

img {
    border-radius: 15px;
    margin: 20px 0;
}

p {
    font-size: 18px;
    margin-bottom: 10px;
}

strong {
    color:blueviolet;
}

/* Add some hover effects */
img:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}

p:hover {
    color: #555;
    transition: color 0.3s ease-in-out;
}

